/*--------style.css for Cart Page-------------*/
.product-container{
  max-width: 900px;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 50px;
}

.product-container i{
  font-size: 25px;
  color: blue;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}


.product-header{
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 4px solid lightgray;
  margin: 0 auto;
}

.product-name{
  width: 60%;
  display: flex;
  text-align: center;
}

.price{
  width: 15%;
  display: flex;
  align-items: center;
}

.quantity{
  width: 15%;
  display: flex;
  align-items: center;
}

.total{
  width: 10%;
  display: flex;
  align-items: center;
}

.product-detail{
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid lightgray;
}